body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#start-screen,
#quiz-screen,
#results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-button,
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #ccc;
  background-color: white;
}

.option-button.selected {
  background-color: #4caf50;
  color: white;
  border-color: #45a049;
}

/* ===== ANIMAZIONE TRACKING IN EXPAND ===== */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}